html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#result {
border: 1px dotted rgb(240, 244, 209);
padding: 2px;
}
#result ul {
list-style-type: none;
padding: 2px;
margin: 0;
}
#result ul li {
padding: 3px, 2px, 2px, 3px;
background: rgb(238, 238, 238);
}
#result ul li:hover {
background: rgb(178, 242, 239);
}
